#face {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 500px;
  width: 500px;
  background: pink;

}

#eye {
  position: absolute;
  left: 30px;
  top: 30px;
  height: 100px;
  width: 100px;
  background: #000;
  border-radius: 50%;
  animation: eyeshift 1s infinite;
}

#eye2 {
  position: absolute;
  right: 30px;
  top: 30px;
  height: 100px;
  width: 100px;
  background: #000;
  border-radius: 50%;
  animation: eyeshift2 1s infinite;
}

#mouth {
  position: absolute;
  left: 220px;
  right: 220px;
  top: 400px;
	width: 0px;
	height: 0px;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #555;
  animation: mouthspin 1s infinite;

}

@keyframes eyeshift{
  0%   {left:30px; top:30px;}
  25%  {left:35px; top:30px;}
  50%  {left:40px; top:30px;}
  75%  {left:45px; top:30px;}
  100% {left:50px; top:30px;}
}

@keyframes eyeshift2{
  0%   {right:30px; top:30px;}
  25%  {right:35px; top:30px;}
  50%  {right:40px; top:30px;}
  75%  {right:45px; top:30px;}
  100% {right:50px; top:30px;}
}

@keyframes mouthspin {
  0%   {color: blue; transform: rotate(0deg);}
  25%  {color: red; transform: rotate(90deg);}
  50%  {color: blue; transform: rotate(180deg);}
  75%  {color: red; transform: rotate(260deg);}
  100% {color: blue; transform: rotate(360deg);}
}
